window {
  margin: 5px;
  /* border: 2px solid red; */
  /* background-color: red; */
}

#outer-box {
  margin: 5px;
  /* border: 2px solid green; */
  /* background-color: green; */
}

#input {
  margin: 5px;
  /* border: 2px solid blue; */
  /* background-color: blue; */
}

#scroll {
  margin: 5px;
  /* border: 2px solid orange; */
  /* background-color: orange; */
}

#inner-box {
  margin: 5px;
  /* border: 2px solid yellow; */
  /* background-color: yellow; */
}

#text {
  margin: 5px;
  /* border: 2px solid cyan; */
  /* background-color: cyan; */
} 

/*#entry:selected {
  background-color: rgba(0,0,0,0);
}*/ 

/*#text:selected {
  background-color: red;
} */
